#sign {
    position: absolute;
    top: 58%;
    left: 35%;
    animation: swing cubic-bezier(0.4, 0.0, 0.6, 1.0);
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes swing {
    0% {transform: rotateZ(15deg) translateY(50%);}
    50% {transform: rotateZ(-15deg) translateY(50%);}
    100% {transform: rotateZ(15deg) translateY(50%);}
}