.outside {
    position: absolute;
    top: 35%;
    left: 40%;
}

#window {
    position: relative;
    z-index: 100;
}

#window_ground {
    position: absolute;
    top: 0px;
}

#bush {
    position: absolute;
    top: 0px;
    animation: wind linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes wind {
    0% {transform: scaleX(1);}
    50% {transform: scaleX(0.93);}
    100% {transform: scaleX(1);}
}