.desktop {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
}

#table {
    transform: translateY(15px);
}

#laptop {
    position: absolute;
    top: -90px;
    left: 30px;
    z-index: 1000;
}

#calculator {
    position: absolute;
    top: -5px;
    left: 200px;
    transform: rotateZ(130deg);
}