#dial {
  position: absolute;
}

#arrow {
  position: absolute;
  z-index: 1000;
  animation: clock linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes clock {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}